.card-dashboard-products {
  margin-bottom: 20px;

  .card-body {
    .products-title {
      font-weight: 400;
      font-size: 18px;
      color: #0c0d36;
    }

    .products-category {
      font-weight: 400;
      font-size: 16px;
      color: #c5c5c5;
    }
  }
}
